@charset 'UTF-8';

// 1. Abstracts
@import 'abstracts/variables';

// 2. Vendors        
@import // '~reset-css/sass/reset',
//         '~bootstrap/scss',
'~font-awesome/scss/font-awesome';

// 3 - Import de la base
@import 'base/base',
'base/typo';

// 3 - Import des layouts
@import 'layout/theme',
'layout/livre',
'layout/listetheme',
'layout/nous',
'layout/404';

// 4 - Import des components
@import 
      'components/header',
      'components/subtitle',
      'components/video',
      'components/contact',
      'components/categoryHome',
      'components/carousel',
      'components/sidebar';

.contact
{
  font-family: 'Indie Flower', cursive;
}




ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.brand span {
  color: #ffffff;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

/* ------- */
/* CONTACT */
/* ------- */


/* ---- */
/* FORM */
/* ---- */

.contact form {
  
}

.contact form label {
  

}

.contact form p {
  
}

.contact form .full {
  
}
.contact form select,
.contact form button,
.contact form input,
.contact form textarea {
 

}

.contact form textarea {
  
}

.contact form button {
}

.contact form button:hover,
.contact form button:focus {
  
}



.contact
{
  margin: 0;
  padding: 0;
  background-size: cover;
  /*background: url(https://cdn.pixabay.com/photo/2016/10/31/19/04/balloons-1786430_960_720.jpg);*/

}






/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
  .wrapper {
    
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}
