.team{
      &__title{
          text-align: center;
      }
  
      &__top {
          @media (min-width: $breakpoint-large) {
              display: flex;
          }
  
          &__image {
              width: 100%;
  
              @media (min-width: $breakpoint-large) {
                  width: 60%;
              }
          }
  
          &__perso {
              width: 100%;
  
              @media (min-width: $breakpoint-large) {
                  width: 40%;
              }
  
              border: 1px solid black;
              border-radius: 4px;
              margin: 0 auto;
              padding: 2em;
              border-radius: 4px;
              background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
          }
      }
  }