.title--site
{
  font-family: 'Indie Flower', cursive;
  color:  #C58D37;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #eee,
             0 2px 0 #e5e5e5,
             -1px 3px 0 #C8C8C8,
             -1px 4px 0 #C1C1C1,
             -2px 5px 0 #B9B9B9,
             -2px 6px 0 #B2B2B2,
             -2px 7px 2px rgba(0,0,0, 0.6),
             -2px 7px 8px rgba(0,0,0, 0.2),
             -2px 7px 45px rgba(0,0,0, 0.4);
}

.slogan
{
  font-family: 'Indie Flower', cursive; 
  font-size: 0.8em;
  font-weight: bold;
}

.nav-link
{
  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
}

.navbar
{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  border-radius: 3px;
}

.logo-texte
{
  padding: 0 1%;
}

.logo-texte:hover .lettre {
  font-size: 1.5em;
}

.lettre {
  transition: .2s ease-in-out;
}

.lettre:nth-child(2) {
  transition-delay: .2s;
}

.lettre:nth-child(3) {
  transition-delay: .4s;
}

.lettre:nth-child(4) {
  transition-delay: .6s;
}

.lettre:nth-child(5) {
  transition-delay: .8s;
}

.lettre:nth-child(6) {
  transition-delay: 1s;
}

.lettre:nth-child(7) {
  transition-delay: 1.2s;
}

.navbar-nav
{
  margin: 0;
  padding: 20px, 0;
  border-radius: 10px;
}

.nav-item
{
  text-align: center;
  display:block;
}

.nav-link:last-child
{
  margin-right: 0;
}

.nav-link
{
  padding: 0 50px;
  display: block;
  margin: 1.7em;
}

.nav-link .icon
{
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto 10px;
}

.nav-link .icon .fa
{
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 27px;
  transition: 0.5s;
  color: #C58D37;

}

.nav-link .icon .fa:last-child
{
  color: white;
}

.nav-link:hover .icon .header__menu__ul__li__a__icon__i
{
  transform: translateY(-100%);
}

.nav-link .name
{
  position: relative;
  height: 20px;
  width: 100%;
  display: block;
}

.nav-link .name span
{
  display: block;
  position : relative;
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px; 
  transition: 0.5s;
}

.header__menu__ul__li__a__icon__i
{
  color:  #C58D37;
  display: block;
}

.fa-search
{
  color:  #C58D37;
  display: block;
  margin: 0.3em;
}