.home__top {
      margin: 1em auto;
      text-align: center;

      &__video {
           
            width: 100%;

            @media (min-width: $breakpoint-large) {
                  width: 60%;
            }
      }
}