.theme__title {
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 4px;
    margin: 0em 6em;
    margin-bottom: 3em;
    padding: 1em;
    box-shadow: 7px 3px 3px rgb(87, 80, 80);
}

.theme {
    &__ul{
        list-style: none;
    font-weight: 400;
    }
    &__top {
        @media (min-width: $breakpoint-large) {
            display: flex;
        }

        &__image {
            width: 100%;

            @media (min-width: $breakpoint-large) {
                width: 60%;
            }
        }

        &__preso {
            width: 100%;

            @media (min-width: $breakpoint-large) {
                width: 40%;
            }

            border: 1px solid black;
            border-radius: 4px;
            margin: 0 auto;
            padding: 2em;
            border-radius: 4px;
        }
    }

    &__eventInfo {
        @media (min-width: $breakpoint-large) {
            display: flex;
            justify-content: space-around;
        }        
        margin: 2em auto;
        width: 100%;

        &__deroule {            
            border: solid 2px #000000;
            border-radius: 4px;
            padding: 2em 2em 2em 1em;
            line-height: 80px;
            box-shadow: 7px 3px 3px rgb(87, 80, 80);
            width: 100%;
            @media (min-width: $breakpoint-large) {
                width: 40%;
            } 
        }

        &__infos {
            border: 1px solid black;
            border-radius: 4px;
            padding: 2em;
            line-height: 60px;
            box-shadow: 7px 3px 3px rgb(87, 80, 80);
            width: 100%;
            @media (min-width: $breakpoint-large) {
                width: 40%;
            } 
        }
    }
}