$fa-font-path: '~font-awesome/fonts';


/* COULEURS */
$color-bg: #F1F1F3;
$color-instagram: #e4405f;
$color-twitter: #55acee;
$color-facebook: #3b5999;
$color_linkedin: #0e76a8;
$color-tuile: #D3D3D3;

$timing        : 265ms;
$iconColor     : #00B5F5;
$accent        : #002A8F;
$bluefade      : #0043E0;
$gradient      : #00B5F5;

/* Breakpoint */
$breakpoint-medium: 500px;
$breakpoint-large: 991px;
$breakpoint-extra-large: 1200px;