$fa-font-path: '~font-awesome/fonts';


/* COULEURS */

$color-bg: #F1F1F3;
$color-instagram: #e4405f;
$color-twitter: #55acee;
$color-facebook: #3b5999;
$color_linkedin: #0e76a8;
$color-tuile: #D3D3D3;

/* Breakpoint */
$breakpoint-medium: 500px;
$breakpoint-large: 800px;
$breakpoint-extra-large: 1200px;